/* common */

:root{
    --primary-color: #a1fff6;
    --secondary-color: #fff;   
    --lightgray: rgb(235, 230, 230); 
    --anton : 'Anton', sans-serif;
    --gugi: 'Gugi', cursive;
    --lato: 'Lato', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --sofia: 'Sofia', cursive;
}

*{
    outline: none;
    box-sizing: border-box;
}

.padding-top{
    padding-top: 5rem;
}

.padding-bottom{
    padding-bottom: 5rem;
}


.margin-top{
    margin-top: 5rem;
}

.margin-bottom{
    margin-bottom: 5rem;
}

.slider-btn .previous-icon{
    position: absolute;
    top: 50%;
    left: 0;
    padding: .5rem;
    background-color: rgba(0,0,0,.5);
    color: var(--primary-color);

}

.slider-btn .next-icon{
    position: absolute;
    top: 50%;
    right: 0;
    padding: .5rem;
    background-color: rgba(0,0,0,.5);
    color: var(--primary-color);
}

.section-title{
    text-align: center;
    margin-bottom: 2rem;
}

.section-title h3{
    font-family: var(--gugi);
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    
}

.section-title h3::after{
    content: '';
    width: 3rem;
    height: .2rem;
    background-color: var(--primary-color);
    position: absolute;
    left: 110%;
    top: 50%;
}

.section-title h3::before{
    content: '';
    width: 3rem;
    height: .2rem;
    background-color: var(--primary-color);
    position: absolute;
    right: 110%;
    top: 50%;
}



/* header */
.navbar{
    background-color: rgba(0,0,0,.5)!important;
}

.nav-link, nav i{
    color: var(--secondary-color)!important;
}

.nav-link:hover, nav i:hover{
    color: var(--primary-color)!important;
}

.navbar-brand img{
    height: 2rem;
}

.navbar-search-icon{
    margin-left: 0rem;
}

.navbar-cart-icon{
    margin-left: 1rem;
}

.nav-icon-out{
    display: block;
}

.nav-icon-in{
    display: none;
}



/* slider one - main */

.slider-one-container{
    position: relative;
}

.slider-one img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* slider two - new arrival */

.slider-two-container{
    position: relative;
}

.slider-two img{
    width: 100%;
    object-fit: cover;
}

.slider-frame{
    padding: .9rem;
    text-align: center;
}

.slider-frame span{
    text-align: center;
}


/* shop by style - categories*/

.section-title-slider{
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    text-align: center;
    margin: auto;
    font-family: var(--gugi);
    margin-bottom: 2rem;
}

.section-title-slider h4{
    position: relative;
    cursor: pointer;
    opacity: .5;
    transition: all .5s ease-in-out;
    font-size: 1rem;
}


.underline::after{
    position: absolute;
    content: '';
    width: 5rem;
    height: .2rem;
    background-color: var(--primary-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

.underline{
    opacity: 1!important;
}


.shop-style{
    text-align: center;
}

.shop-by-style-inner, .shop-by-categories-inner{
    overflow: hidden;
}

.shop-style img{
    width: 100%;
    transition: all .5s ease-in-out;
}

.shop-style img:hover{
    transform: scale(1.1,1.1);
}

.shop-by-style p, .shop-by-categories p{
    background-color: var(--lightgray);
    padding: .5rem;
    position: relative;
}












/* footer */

.footer{
    background-color: #000;
    color: rgb(168, 167, 167);
    padding-top: 1rem;
}

.footer p{
    font-size: .9rem;
}

.footer ul{
    padding: 0;
}

.footer li{
    list-style: none;
}


.footer li a{
    color: var(--gray-color);
    font-size: .9rem;
}

.footer li a:hover{
    color: var(--primary-color);
    text-decoration: none;
}



.footer-mobile {
    width: 6rem;
    border-radius: .5rem;
    margin-top: 1rem;
}


.footer-logo img{
    margin-top: .5rem;
    height: 3rem;
}

.footer-logo {
    text-align: center;
    padding-bottom: 1rem;
}

.footer-social{
    text-align: center;
}

.footer-social span{
    background-color: var(--primary-color);
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    padding: .4rem;
    display: inline-block;
    position: relative;    
}

.footer-social span a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: black ;
}


.footer-social a, .footer-social a:hover{
    color: black;
}


.footer-social span:hover{
    background-color: var(--lightgray)
}











@media (min-width:992px){
/* navbar */
.nav-icon-out{
    display: none;
}

.nav-icon-in{
    display: block;
}

.navbar-nav{
    align-items: center;
}

.navbar-brand img{
    height: 3rem;
}

.navbar-search-icon{
    margin-left: 1rem;
}

.section-title h3{
    font-size: 1.8rem;    
}



/*  */
.section-title-slider h4{
    font-size: 1.4rem;
}


}



































































